:root {
   --square-size: 6.25%;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1 {
   text-align: center;
   margin: 10px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.grid-container {
   border: 1px black solid;
   width: 750px;
   height: 750px;
   margin: 25px;
   display: flex;
   flex-wrap: wrap;
}

.grid-square {
   background-color: white;
   height: var(--square-size);
   width: var(--square-size);
   border: 1px black solid;
}

.reset-btn,
.custom-size-btn {
   background-color: white;
   border: 1px black solid;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 8px;
}

.reset-btn:hover,
.custom-size-btn:hover {
   background-color: lightgray;
}

